# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
**/Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
WingmanUnleashed/Library/assetDatabase3
WingmanUnleashed/Library/assetDatabase3
WingmanUnleashed/Library/CurrentLayout.dwlt
WingmanUnleashed/Library/expandedItems
WingmanUnleashed/Library/guidmapper
WingmanUnleashed/Library/guidmapper
WingmanUnleashed/Library/guidmapper
WingmanUnleashed/Library/guidmapper
WingmanUnleashed/Library/CurrentLayout.dwlt
WingmanUnleashed/Library/assetDatabase3
WingmanUnleashed/Library/CurrentLayout.dwlt
WingmanUnleashed/Library/guidmapper
WingmanUnleashed/Library/assetDatabase3
WingmanUnleashed/Library/CurrentLayout.dwlt
WingmanUnleashed/Library/expandedItems
WingmanUnleashed/Library/guidmapper